/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

img {
	margin: 0 20px 0 20px;
	height: 160px;
	width: 160px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: auto;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: center;
}

pre {
	padding: 0;
	margin: 0;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.centeronImage {
	position: relative;
	margin: auto;
	top:-90px;
	font-size: 200%;
	transform: translate(0, -34%);
}
.clientButtons {
	text-align: center;
}

#winScreen {
	background-color: lightblue;
	font-family: "Arial", sans-serif;
	font-size: 200%;
	color: #000000;
}



